<form action="/cars/add" method="POST">
    Make
    <input type="text" name="make" value="{{make}}" />
    <br />
    Model
    <input type="text" name="model" value="{{model}}" />
    <br />
    Year
    <input type="text" name="year" value="{{year}}" />
    <br />
    Price Per Day
    <input type="text" name="pricePerDay" value="{{pricePerDay}}" />
    <br />
    Power
    <input type="text" name="power" value="{{power}}" />
    <br />
    Image
    <input type="url" name="image" value="{{image}}" />
    <br />
    <input type="submit" value="Save" />
</form>